body,
html {
	height: 100%;
	min-height: 100%;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #676767;
	margin: 0;
	font-size: 14px;
}

*{
	outline: none;
}
.btn,
.btn:hover,
.btn:active,
.btn:focus,
.btn:active:focus{
	outline: none;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-ms-transition: 0.4s all;
	-o-transition: 0.4s all;
	transition: 0.4s all;
}
li{
	list-style: none;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Vidaloka';
	text-transform: capitalize;
	color: #272530;
	position: relative;
	font-weight: 400;
}
h1{
	font-size: 55px;
	position: relative;
	padding:10px 10px 20px;
	margin-bottom: 30px; 
}
h1 span,
h2 span,
h3 span,
h4 span{
	color: #162d56;
}
h2{
	font-size: 45px;
	position: relative;
	line-height: 1.5;
	padding-bottom: 10px;
}
h2.white,
p.white{
	color:#fff;
}
h3{
	font-size: 30px;
	line-height: 1.5;
	padding-bottom: 10px;
}
h3:before,
h1:before,
h2:before{
	content:'';
	position: absolute;
	background-image: url(../img/zig-zag.png);
	width: 80px;
	height: 8px;
	left: 0;
	right: 0;
	bottom:0;
	margin: auto;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
h2:before{
	width: 36px;
}
h4{
	font-size: 26px;
}
a{
	text-decoration: none;
}
.nav-fixed{
	height: 80px;
}
.nav-fixed .navbar{
	position: fixed;
	width: 100%;
}
.content-padding{
	padding: 100px 0;
}
.content-padding-md{
	padding: 60px 0;
}
.navbar{
	background-color: #fff;
	border: none;
	height: 80px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.27);
	margin-bottom: 0;
	position: relative;
	z-index: 999;
}
.navbar-default .navbar-nav > li > a{
	font-size: 14px;
	background-color: transparent;
	color: #232a34;
	padding: 30px 25px;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.navbar-brand > img{
	max-width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a:hover{
	background-color: #162d56;
	color: #fff;
}
.navbar-default .navbar-brand{
	height: 80px;
	padding: 0;
	line-height: 80px;
}
.solutions{
	background:rgba(242,242,244,0.8);
	text-align: center;
}
.solutions h3{
	max-width: 500px;
	margin: 0 auto 20px;
}
.solutions p{
	color: #a3a3a6;
	text-transform: uppercase;
}
ul.color-box{
	padding-left: 0;
	margin-top:80px;
}
ul.color-box li{
	list-style: none;
	display: inline-block;
	width: 22%;
	margin: 0 15px;
	vertical-align: top;
}
ul.color-box .content{
	background-color: #162d56;
	padding: 50px 30px 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	min-height: 250px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	position: relative;
}
ul.color-box .content:hover,
ul.color-box li:nth-child(2) .content:hover,
ul.color-box li:nth-child(3) .content:hover,
ul.color-box li:nth-child(4) .content:hover{
	background-color: #fff;
}

ul.color-box .content .icon{
	margin-bottom: 15px;
	padding-top: 5px;
}
ul.color-box .content .icon i{
	font-size: 65px;
	color: #fff;
	margin-bottom: 15px;
}
ul.color-box .content span{
	font-family: 'Vidaloka';
	font-size: 22px;
	color:#fff;
	text-transform: capitalize;
	display: block;
	margin-bottom: 20px;
	font-weight: 400;
}
ul.color-box .content .btn-outer{
	position: absolute;
	bottom:30px;
	left: 0;
	right: 0;
	margin: auto;
}
ul.color-box .content .btn{
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
	font-size: 14px;
	background-color: #f5f5f5;
	color:#a3a3a6;
	padding: 3px 15px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	border:1px solid #f5f5f5;
} 
ul.color-box .content .btn:hover{
	color:#ea4e47
}
ul.color-box .content .btn:hover{
	border:1px solid #f5f5f5;
}

ul.color-box li:nth-child(2) .content,
.light-blue{
	background-color: #76c1d1;
}

ul.color-box li:nth-child(3) .content,
.light-red{
	background-color: #162d56;
}

ul.color-box li:nth-child(4) .content,
.light-purpal{
	background-color: #5d5167;
}
ul.color-box li .content .outer{
	height: 128px;
	overflow:hidden; 
}
ul.color-box li .content .upper{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
ul.color-box li .content:hover .upper{	
	margin-top:-80px;
}
ul.color-box li .content:hover .bottom {
	margin-top: -55px;
}
ul.color-box li .content .bottom span{
	font-size: 22px;
	color: #272530;
	margin-bottom: 10px;
}
ul.color-box li .content .bottom p{
	font-size: 14px;
	color: #000;
	text-align: center;
	text-transform: none;
	font-weight: 500;
}

/*planning section*/
.planning{
	background-color: #fff;
	text-align: center;
}
.planning p{
	max-width: 550px;
	margin: auto;
	margin-bottom: 80px;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 600;
	color: #676767;
}
ul.steps{
	padding-left: 0;
}
ul.steps li{
	display: inline-block;
	width: 22%;
	margin: 0 15px;
	vertical-align: top;
}
ul.steps li .content{
	text-align: center;
}
ul.steps li .content i{
	font-size: 40px;
	color: #162d56;
}
ul.steps li .content p{
	font-size: 17px;
	color: #272530;
	font-family: 'Vidaloka';
	padding: 20px 0;
	max-width: 180px;
	line-height: 1.2;
	margin: auto;
	font-weight: 400;
}
ul.steps li .content span{
	width: 29px;
	height: 29px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #162d56;
	color: #fff;
	display: block;
	font-weight: 500;
	margin: auto;
	padding: 4px;
	position: relative;
}
ul.steps li .content span:before{
	content: '';
	position: absolute;
	width: 190px;
	height: 1px;
	border-bottom: 1px solid #d7d7d7;
	top: 45%;
	right: -243px;
}
ul.steps li:last-child .content span:before{
	display: none;
}

/*counting section*/
.counting{
	/*background-image: url('../img/counting-banner.jpg');*/
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-top:4px solid rgba(39,37,48,0.15);
	background-color: #162d56;
}
.count-list .inner{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.count-list .inner span{
	font-weight: 400;
	font-family: 'Vidaloka';
	font-size: 80px;
	position: relative;
	line-height: 1.4;
	margin-bottom: 15px;
	color: #fff;
	display: block;
	font-weight: 400;
}
.count-list .inner span:before{
	content:'';
	position: absolute;
	background-image: url(../img/zig-zag-white.png);
	width: 36px;
	height: 8px;
	left: 0;
	right: 0;
	bottom:0;
	margin: auto;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.count-list .inner p{
	font-size: 20px;
	font-family: 'Vidaloka';
	color: #fff;
	font-weight: 400;
	text-transform: capitalize;
}

/*gallery section*/
.gallery{
	text-align: center;
}
.gallery .row{
	margin-top:50px;
}

.uppercase{
	text-transform: uppercase;
}
.gallery-thumb{
	background-image: url('../img/gallery-1.jpg');
	background-image: url('../img/gallery-1.JPG');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 315px;
	position: relative;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	cursor: pointer;
	margin-bottom: 20px;
}
.gallery-thumb.gallery-2{
	background-image: url('../img/gallery-2.jpg');
	background-image: url('../img/gallery-2.JPG');
}
.gallery-thumb.gallery-3{
	background-image: url('../img/gallery-3.jpg');
	background-image: url('../img/gallery-3.JPG');
}
.gallery-thumb.gallery-4{
	background-image: url('../img/gallery-4.jpg');
	background-image: url('../img/gallery-4.JPG');
}
.gallery-thumb.gallery-5{
	background-image: url('../img/gallery-5.jpg');
	background-image: url('../img/gallery-5.JPG');
}
.gallery-thumb:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top:0;
	background-color: rgba(0,0,0,0.7);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	opacity: 0;
	visibility: hidden;
}
.gallery-thumb:hover:before{
	opacity: 1;
	visibility: visible;
}
.gallery-thumb .icon{
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: #162d56;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	left: 50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	padding: 13px;
	opacity: 0;
	visibility: hidden;
	text-decoration: none;
}
.gallery-thumb:hover .icon{
	opacity: 1;
	visibility: visible;
}
.gallery-thumb .icon i{
	color: #fff;
	font-size: 22px;
}
.gallery .bottom{
	margin-top:50px;
}
.gallery .bottom h4{
	display: inline-block;
	padding-right:40px;
	margin-top:15px;
	vertical-align: top;
}
.btn-rounded{
	background-color: #162d56;
	max-width: 180px;
	width: 100%;
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	padding: 15px 10px;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
	font-weight: 600;
}
.gallery-thumb .link{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top:0;
}
.gray-bg{
	background-color: #f5f5f6;
}
.testimonials{
	text-align: center;
}
.testimonials .content{
	background-color: #fff;
	padding: 40px;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
	text-align: center;
}
.testimonials .content p{
	max-height: 100%;
	color: #272530;
	font-size: 20px;
	font-family: 'Vidaloka';
	line-height: 1.5;	
	font-weight: 400;
}
.testimonials .content .bottom{
	margin: 0 15px;
	padding-top: 35px;
}
.testimonials .content .bottom img{
	width: 42px;
	height: 42px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	margin-right: 20px;
}
.testimonials .content .bottom span{
	display: inline-block;
	color: #a3a3a6;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	font-family: 'Montserrat';	
}
.card-slider{
	margin-top:50px;
	padding-bottom: 80px;
}
.card-slider .slick-arrow{
	position: absolute;
	bottom:0;
	left: -30px;
	right: 0;
	margin: auto;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #162d56;
	padding: 8px;
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}
.card-slider .icon-right-arrow{
	right: -70px;
}

/*contact section*/
.contact{
	background-image: url('../img/blue-bg.png');
	background-position: center;
	/*background-size: cover;*/
	background-repeat: no-repeat;
	min-height: 700px;
	position: relative;
	background-position: right;
	background-size: auto 100%;
}
.contact:before{
	content:'';
	position: absolute;
	left: 0;
	width: 50%;
	background-image: url('../img/thumb.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}
.contact .form-outer{
	padding-top:60px;
	padding-left: 50px;
}
.field-outer{
	margin-bottom: 20px;
}
.form-control{
	background-color: #f5f5f5;
	color:#676767;
	height:56px;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
	box-shadow: none;
	border:none;
	padding: 15px 25px;
}
textarea.form-control{
	min-height: 154px;
	resize: none;
}
.form-outer .form-row{
	padding-top: 40px;
}
.text-checkbox{
	padding-left: 40px;
	text-align: left;
	color: #272530;
}
input[type="checkbox"]{
	position: absolute;
	left: 27px;
}
.btn-submit{
	min-width: 110px; 
	height: 50px;
	background-color:#162d56;
	color: #fff;
	text-transform: uppercase;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius: 28px;
}
.btn-outer{
	margin-top:50px;
}
.text-checkbox a{
	color: #162d56;
	text-transform: capitalize;
	text-decoration: underline;
}
.contact-details .content{
	background-color: #fff;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
	text-align: center;
	padding: 25px 30px;
	min-height: 206px;
}
.contact-details .content i{
	font-size: 30px;
	color: #162d56;
	display: block;
	margin-bottom: 10px;
}
.contact-details .content span{
	display: block;
	font-size: 17px;
	color: #272530;
	font-family: 'Vidaloka';
	padding: 20px 0;
	max-width: 150px;
	line-height: 1.2;
	margin: auto;
	font-weight: 400;
}
.contact-details .content p{
	line-height: 1.7;
}
.contact-details .content a{
	color: #162d56;
	word-break: break-all;
}
.map-section{
	min-height: 300px;
	position: relative;
}
.map-section iframe{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top:0;
	display: block;
}

/*banner css*/
.banner{
	background-color: #f5f5f6;
}
.banner .slide{
	background-image: url('../img/banner-1.png');
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	min-height: calc(100vh - 80px);
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.banner .slide-2{
	background-image: url('../img/banner-2.png');
}

.slide-2{
	background-image: url('../img/slide-2.jpg');
}
.slide-3{
	background-image: url('../img/slide-3.jpg');
}
.banner .slide:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	left: 0;
	top:0;
	z-index: -2;
}
.banner .slide .content{
	position: absolute;
	top:50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 600px;
	margin: auto;
	text-align: center;
	color: #fff;
	z-index: 999;
}
.banner .slide .content h2 span{
	color: #fff;
}
.banner .slide .content h2:before{
	background-image: url(../img/zig-zag-white.png);
}
div.slick-slide + div{
	position: relative;
	z-index: 1;
}
.banner .slide img{
	position: absolute;
	width: 100%;
	max-width: 100%;
	left: 0;
	top:-180px;
}
.banner .slide h2{
	color: #fff;
	text-align: center;
	line-height: 1.2;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		visibility: visible;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		visibility: visible;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
@-moz-keyframes fadeInDown {
	from {
		opacity: 0;
		visibility: visible;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
@-o-keyframes fadeInDown {
	from {
		opacity: 0;
		visibility: visible;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
.banner-slider .slick-slide p,
.banner-slider .slick-slide .btn-sm{
	opacity: 0;
	visibility: hidden;
} 
.banner-slider .slick-current.slick-active .slide h2{
	-webkit-animation: 2s ease 0s normal forwards 1 fadeInDown;
	-moz-animation: 2s ease 0s normal forwards 1 fadeInDown;
	-o-animation: 2s ease 0s normal forwards 1 fadeInDown;
	animation: 2s ease 0s normal forwards 1 fadeInDown;
}
.banner-slider .slick-current.slick-active .slide p{
	-webkit-animation: 2s ease 0.9s normal forwards 1 fadeInDown;
	-moz-animation: 2s ease 0.9s normal forwards 1 fadeInDown;
	-o-animation: 2s ease 0.9s normal forwards 1 fadeInDown;
	animation: 2s ease 0.9s normal forwards 1 fadeInDown;
}
.banner-slider .slick-current.slick-active .slide .btn-sm{
	-webkit-animation: 3s ease 1s normal forwards 1 fadeInDown;
	-moz-animation: 3s ease 1s normal forwards 1 fadeInDown;
	-o-animation: 3s ease 1s normal forwards 1 fadeInDown;
	animation: 3s ease 1s normal forwards 1 fadeInDown;
}

.btn-sm{
	height: 35px;
	padding: 7px;
	text-align: -webkit-center;
	background-color: #162d56;
	margin-top:40px;
}
.banner-slider .btn-sm{
	padding:8px 15px; 
}
.banner-slider .slick-dots{
	position: absolute;
	bottom:50px;
	left: 0;
	right:0;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-ms-transition: 0.4s all;
	-o-transition: 0.4s all;
	transition: 0.4s all;
	opacity: 0;
	visibility: hidden;
}
.banner-slider:hover .slick-dots{
	opacity: 1;
	visibility: visible;
}
.slick-dots:after,
.slick-dots:before{
	display: table;
	content: " ";
}
.slick-dots:after{
	clear: both;
}
.banner-slider:hover .slick-arrow{
	opacity: 1;
	visibility: visible;
} 
.banner-slider .slick-arrow{
	position: absolute;
	top:50%;
	left: 20px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	padding: 8px;
	font-size: 16px;
	font-weight: 600;
	z-index: 1;
	cursor: pointer;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	opacity: 0;
	visibility: hidden;
}
.banner-slider .slick-arrow:hover{
	background-color: #162d56;
}
.banner-slider .slick-arrow.icon-right-arrow{
	left: inherit;
	right: 20px;
}
header{
	padding: 10px;
	background-color: #f5f5f5;
}
header a{
	color: #a3a3a6;
	font-weight: 300;
	text-decoration: none;
	font-family: 'Open Sans';
	-webkit-transition: all .20s;
	-moz-transition: all .20s;
	-ms-transition: all .20s;
	-o-transition: all .20s;
	transition: all .20s;
	font-size: 12px;
}
header a:hover{
	color:#162d56;

}
.icon-text{
	display: inline-block;
	font-size: 12px;
}
.icon-text i{
	margin-left: 15px;
	color: #162d56;
	position: relative;
	top:2px;
	font-weight: 600;
}
.icon-text span{
	color: #a3a3a6;
	font-weight: 300;
	font-family: 'Open Sans';
}
.icon-text a{
	color: #162d56;
}
#return-to-top{
	background-color: #162d56;
	display: block;
	position: fixed;
	width: 35px;
	height: 40px;
	line-height: 30px;
	text-align: center;
	bottom: 50px;
	right: 30px;
	cursor: pointer;
	z-index: 100001;
	-webkit-transition: all ease 0.6s;
	-moz-transition: all ease 0.6s;
	-ms-transition: all ease 0.6s;
	-o-transition: all ease 0.6s;
	transition: all ease 0.6s;
	filter: alpha(opacity=0);
	opacity: 0;
	visibility: hidden;
	padding-top: 10px;
	text-decoration: none;
}
#return-to-top i{
	display: block;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #fff;
	font-weight: 700;
}
.show {
	opacity: 1!important;
	visibility: visible!important;
}
a, button {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.plus{
	position: relative;
}
.plus:after{
	content: '+';
	position: absolute;
	right: 17px;
	top: -4px;
}
@media(max-width: 1199px){
	ul.color-box li,
	ul.steps li{
		margin: 0 8px;
	}
	ul.steps li .content span:before{
		width: 150px;
		right: -196px;
	}
	.contact-details .content{
		padding: 25px 15px;
	}
	.navbar-default .navbar-nav > li > a{
		padding: 30px 13px;
	}
}
@media(max-width: 992px){
	.navbar-default .navbar-nav > li > a {
    padding: 30px 13px;
}
	ul.steps li .content span:before {
		width: 120px;
		right: -141px;
	}
	.contact .form-outer {
		padding-top: 25px;
		padding-left: 15px;
	}
	.form-row .col-sm-6{
		width: 100%;
	}
	.btn-outer {
		margin-top: 0;
	}
	.contact-details .content{
		min-height: 298px;
	}
	ul.steps li .content p{
		min-height: 100px;
	}
}
@media(max-width: 767px){
	ul.color-box li,
	ul.steps li{
		margin: 0 15px 30px;
		width: 43%;
	}
	ul.steps li .content p{
		min-height: 100%;
	}
	ul.steps li .content span:before{
		display: none;
	}
	.count-list .col-sm-3,
	.gallery .col-sm-3{
		margin-bottom: 30px;
	}
	.content-padding{
		padding: 60px 0;
	}
	.gallery .bottom {
		margin-top: 30px;
	}
	.contact:before{
		width: 100%;
		height: initial;
		min-height: 300px;
	}
	.contact .form-outer{
		padding-top:300px;
		padding-left: 0;
	}
	.contact {
		padding-bottom: 50px;
	}
	.contact-details .content{
		min-height: 230px;
		margin-bottom: 20px;
	}
	h1{
		font-size: 36px;
	}
	.banner-slider ul.slick-dots {
		bottom: 50px;
		position: absolute;
	}
	h2{
		font-size:36px; 
	}
	#nav-icon1 {
		width: 30px;
		height: 21px;
		position: relative;
		padding: 10px 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
		z-index: 9999;
		margin-top: 31px;
		margin-right: 20px;
		background: transparent;
		border: none
	}
	#nav-icon1 span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: #000;
		border-radius: 3px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}
	#nav-icon1 span:nth-child(1) {
		top: 0;
	}
	#nav-icon1 span:nth-child(2) {
		top: 5px;
	}
	#nav-icon1 span:nth-child(3) {
		top: 14px;
	}
	#nav-icon1.open span:nth-child(1) {
		top: 11px;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	#nav-icon1.open span:nth-child(2) {
		opacity: 0;
		left: -60px;
	}
	#nav-icon1.open span:nth-child(3) {
		top: 8px;
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
	.navbar-default .navbar-collapse{
		background-color: #fff;
	}
	.navbar-nav.pull-right{
		float: none!important;
		margin-top: 0;
	}
	.banner .slide{
		min-height: 500px;
	}
	header .left{
		text-align: right;
	}	
	.banner .slide img{
		display: none;
	}
	.banner .slide .content{
		padding:0 15px; 
	}
	.animate{
		animation: none;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 15px 20px;
	}
	.gallery-thumb{
		margin-bottom: 0;
	}
}
@media(max-width: 480px){
	ul.color-box li,
	ul.steps li{
		margin: 0 0 30px;
		width: 100%;
	}
	.content-padding,
	.content-padding-md{
		padding: 50px 15px;
	}
	.gallery .bottom h4{
		padding-right:0 ;
	}
	.count-list .col-sm-3, .gallery .col-sm-3,
	.contact-details .col-sm-3{
		width: 100%;
	}
	.contact-details .content{
		min-height: 100%;
	}
}