@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?pfs13i');
  src:  url('icomoon.eot?pfs13i#iefix') format('embedded-opentype'),
    url('icomoon.ttf?pfs13i') format('truetype'),
    url('icomoon.woff?pfs13i') format('woff'),
    url('icomoon.svg?pfs13i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fireworks:before {
  content: "\e90e";
}
.icon-garland:before {
  content: "\e90f";
}
.icon-sparkler:before {
  content: "\e910";
}
.icon-wedding-ring-1:before {
  content: "\e911";
}
.icon-wedding-ring:before {
  content: "\e912";
}
.icon-wedding-rings:before {
  content: "\e913";
}
.icon-balloons:before {
  content: "\e900";
}
.icon-building:before {
  content: "\e901";
}
.icon-chat:before {
  content: "\e902";
}
.icon-cheers:before {
  content: "\e903";
}
.icon-clock:before {
  content: "\e904";
}
.icon-edit:before {
  content: "\e905";
}
.icon-left-arrow:before {
  content: "\e906";
}
.icon-link:before {
  content: "\e907";
}
.icon-link-symbol:before {
  content: "\e908";
}
.icon-new-file:before {
  content: "\e909";
}
.icon-phone-call:before {
  content: "\e90a";
}
.icon-pin-1:before {
  content: "\e90b";
}
.icon-pin:before {
  content: "\e914";
}
.icon-right-arrow:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
